body {
  font-family: helvetica;
  font-size: 16px;
  border: solid 4px #5CD65C;
}
body p {
  margin-right: 5px;
  margin-left: 5px;
}
body div {
  margin-right: 5px;
  margin-left: 5px;
}
h1 {
  font-size: 50px;
  color: tomato;
  margin-left: 35%;
  margin-top: -15px;
}
.main-div {
    -webkit-column-count: 3;
    column-count: 3;
}
.back-home {
  height: 30px;
  font-size: 16px;
  margin-left: 90%;
}
.text-editor {
  background-color: #2F462F;
  color: #fff;
  display: block;
  font-family: monospace;
  white-space: pre;
  text-align: left;
  font-size: 14px;
  padding: 0.2%;
  line-height: 130%
}
strong {
  font-size: 20px;
  font-weight: heavy;
}
footer {
  height: 25px;
  text-align: right;
  margin-right: 20px;
}
