/*****Main Styling*****/
body {
  font-family: helvetica;
}
body a {
  text-decoration: none;
}
.main-menu {
  /* background-color:#F0FFFF;*/
  height: 70px;
}
.main-menu li {
  font-size: 1.5em;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  box-sizing: border-box;
  right: 10px;
}
.main-menu:after {
  clear: both;
}
footer {
  height: 50px;
  text-align: right;
  margin-right: 20px;
}
/***** Main-Divs *****/
.index-div {
margin-left: 10%;
margin-right: 10%;

}
.main-div {
  line-height: 40px;
  margin: 5px;
}
.recent-blog1 {
  width: 45%;
  float: left;
}
.recent-blog2 {
  width: 45%;
  float: right;
}
.group:after {
  display: table;
  content:" ";
  clear: both;
}
.thoughts li {
  background-color: #D6FFD6;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 180px;
  height: 180px;
  vertical-align: top;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  text-align: center;
}

.thoughts li p {
  margin-top: 40px;
  text-decoration: :none;
}
/***** Sub-Div *****/
body {
  margin: 20px;
}
.sub-div {
height: 50px;
}
.sub-div p{
  font-size: 20px;
  text-align: right;
  margin-right: 10px;
}
.tech-img {
display: block;
margin-left: auto;
margin-right: auto;
max-width: 500px;
}
/***** Detailing *****/
/*a:visited {
  color: #66CDAA;
  }*/
a:hover {
  cursor: pointer;
  color: #0099CC;
  font-size: 1.2em;
}
a {
  color: #66CDAA;
}

div p {
  font-size: 18px;
  line-height: 150%;
}

.group li {
  font-size: 18px;
  text-decoration: none;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 20px;
  text-align: right;
  color: grey;
}
h3 {
  font-size: 22px;
  margin-left: 10px;
  top: 0;
}
h4 {
  font-size: 30px;
  font-weight: lighter;
  color: grey;
  padding: 3px;
  bottom: 5px;
  text-decoration: none;
}
h5 {
  font-size: 40px;
  color: #660066;
  text-align: center;
  margin-top: 20px;
}
h6 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color:#660066;
  font-family: 'Montserrat', sans-serif;
  height: 200px;
  background-image: url("../stylesheets/coding.jpeg");
  background-repeat: no-repeat;
  background-position: 50% 280%;
  background-color: white;
}
.MPB {
  font-family: 'Poiret One', cursive;
}
h7 {
  font-size: 20px;
  font-weight: lighter;
  color: grey;
  text-align: left;
}
h8 {
  font-size: 30px;
  font-weight: lighter;
  color: grey;
  display: inline-block;
  bottom: 5px;
  }
.blog_title {
  width: 100%;
  background: url('../Screen-shot/exploring.png');
  background-size: 100% auto;
  height: 400px;
}
.c_title {
  width: 100%;
  background: url('../Screen-shot/desert.png');
  background-size: 100% auto;
  height: 400px;
}
.blog_title h1 {
  font-family: 'Pacifico', cursive;
  color: #660066;
  display: inline-block;
}
.blog_title h2 {
  margin-right: 20px;
}
.c_title h1 {
  font-family: 'Pacifico', cursive;
  color: #660066;
  display: inline-block;
  margin-left: 10px;
}
.c_title h2 {
  margin-right: 20px;
}

.tech-div {
  margin-right: 15%;
  margin-left: 15%;
}
.text-editor {
  background-color: LemonChiffon;
  font-family: monospace;
  white-space: pre;
  text-align: left;
  font-size: 14px;
  padding: 1%;
  line-height: 130%
}
.tutorial {
  background-color: #FAFFEB;
  font-family: monospace;
  white-space: pre;
  font-size: 14px;
  line-height: 130%;
}
.example {
  background-color: black;
  color: white;
  display: block;
  font-family: monospace;
  white-space: pre;
  text-align: left;
  font-size: 18px;
  padding: 1%;
  line-height: 130%;
}
.tech_div span {
  background-color: yellow;
}

.highlight {
  border-style: dotted;
  border-color: tomato;
}
/***** Contact Page *****/
#contact-input {
  width: 500px;
  height: 200px;
}
#contact-submit {
  display: block;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 100px;
}
/***** About Sarah Page *****/
.main {
  border: 15px solid #FF3399;
  max-width: 300px;
  max-height: 300px;
  float: left;
  width: 20%;
  margin-right: 30px;
}
/***** Random *****/
.DOM {
  background-image: url(Screen-shot/note-DOM.png);
  background-position: center
}
/***** Image *****/
.main-dog {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tech-div img {
  border-left-width: 5px;
  border-left-color: #99CCFF;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
img.transparent {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.twotr {
  width: 100%;
  background-image: url("https://download.unsplash.com/photo-1416339442236-8ceb164046f8");
  background-size: 100%;
  height: 500px;
  opacity: 0.8;
}
.foodtrucksf {
  width: 100%;
  background-image: url("https://images.unsplash.com/45/ZLSw0SXxThSrkXRIiCdT_DSC_0345.jpg?fit=crop&fm=jpg&h=700&q=80&w=1050");
  background-size: 100%;
  height: 500px;
  opacity: 0.8;
}
.project p {
  font-size: 2em;
  text-decoration: none;
  text-align: center;
  color: black;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}

.project a {
  color: black;
}
.project:hover {
  font-size: 1.1em;
  color: #5C8A8A;
}
.resume p {
  word-wrap: break-word;
}

.main-quote {
  font-family: 'Rock Salt', cursive;word-wrap: break-word;
  text-align: right;
  right: 40px;
  padding-right: 20px;
}

.resume h7 {
  color: #0099CC;
}
.resume li {
  font-size: 1.1em;
  line-height: 200%;
  text-indent: 20px;
  word-wrap: break-word;
}
.git-img {
  border-left: solid 10px #C2C2D6;
  width: 13%;
  display: inline-block;
}
.git-img:hover{
  /*background-color: #E6FFFF;*/
  width: 15%;
}
.linkedin-img {
  width: 12%;
  display:inline-block;
}
.linkedin-img:hover {
  width: 13%;
}
.left-float {
  float: left;
  width: 60%;
}
.stackoverflow {
  background-color:#F0F0F5;
  padding:5px;
}
.command {
  text-indent: 50px;
  font-size: 1.2em;
  font-style: italic;
}
.summary {
  font-size: 1.5em;
}
sql_list {
  line-height: 30%;
  text-indent: 10px;
}
.visit-counter {
  float: right;
  padding: 20px;
  font-size: 1.4em;
}
.clear {
  clear: both;
}
.answer {
  width: 80%;
  background-color: #FAFFEB;
  white-space: pre-line;
  line-height: 1.2em;
  font-size: 1.2em;
  padding-left: 20px;
}
.interview {
  width: 100%;
  background-color: #FAFFEB;
}
.blog-pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
main p {
  font-size: 1.2em;
}

main img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 500px) {
  main img {
    width: 70%;
  }
}
/* Index page */
.game {
  background-color: #CCFF33;
}
/*Game page */
.game_right {
  float: right;
  width: 500px;
  font-family: 'Orbitron', sans-serif;
}
.game_left {
  float: left;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1500px) {
  .game_left {
    margin-left: 20%;
  }
}
@media (min-width: 1759px) {
  .game_right {
    margin-right: 20%;
  }
}
.clear {
  clear: both;
}
/* beer-hero*/
.beer-hero {
  background-image: url('https://images.unsplash.com/41/EOZpjI3oSqKPNnF2S4Tp_Untitled.jpg?crop=entropy&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375');
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
}

.resume li {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
}
/*submarine*/
#submarine {
  width: 20%;
  position: relative;
  display: none;
  animation-name: submarine;
  animation-duration: 5s;
  animation-timing-function: easy-in-out;
  animation-delay: 2s;
  animation-iteration-count: 10;
  animation-direction: alternate;
  transform: rotate(7deg);
  z-index: -1;
}
@keyframes submarine {
  0%   {left:0px; top:0px;-webkit-transform: rotate(20deg);}
  25%  {left:400px; top:0px;-webkit-transform: rotate(-20deg)}
  50%  {left:400px; top:200px;-webkit-transform: rotate(20deg);}
  75%  {left:0px; top:200px;-webkit-transform: rotate(-25deg)}
  100% {left:0px; top:0px;-webkit-transform: rotate(20deg);}
}
.skills {
  display: inline;
}
#ruby {
  display: none;
  width: 8%;
  position: relative;
  display: inline;
  animation-name: ruby;
  animation-duration: 5s;
  animation-timing-function: linear;  
  animation-iteration-count: 3;
  animation-direction: alternate;
  z-index: -1;
}
@keyframes ruby {
  0%   {left:0px; -webkit-transform: rotate(20deg);}
  25%  {left:200px; -webkit-transform: rotate(-180deg)}
  50%  {left:800px; -webkit-transform: rotate(200deg);}
  75%  {left:600px; -webkit-transform: rotate(-180deg)}
  100% {left:0px; -webkit-transform: rotate(20deg);}
}
.brian-div {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
}
.brian-left {
  width: 48%;
  background-repeat: none;
  float: left;
}
.brian-right {
  float: right;
  width: 50%;
}
.brian-right h1 {
  margin-top: 0;
}
.brian-photo {
  margin-left: 15%;
}

@media screen and (max-width: 1300px) {
  .brian-div {
    margin-right: 1%;
    margin-left: 1%;
  }
  .brian_photo {
    margin-top: 30%;
    width: 80%;
  }
  .brian-left {
    margin-left: 0;
  }
  h1 {
    font-size: 1em;
  }
  p {
    font-size: 0.9em;
  }
}


#myCanvas {
  background-color: yellowgreen;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1620px) {
  #myCanvas {
    margin-left: 10%;
  }
}
.sublime {
  width: 55%;
  margin-left: 0.5%;
}
.bigger_sublime {
  width: 65%;
  margin-left: 0.5%;
}
.smaller_sublime {
  width: 40%;
  margin-left: 0.5%;
}
