/*CSS file*/
h1 {font-color: green;
    font-size: 24px;
    background-color: #FFC2C2;
}
h2 {font-color: #00CC99;
    font-size: 18px;
}
h3 {font-color: #4DDBB8;
    font-size: 16px;
}
p {font-size: 14px;
}
