body {
	font-family: 'Bungee Shade', cursive;
}
.container {
	margin-top: 30px;
	width: 98%;
	background-color: green;
}
.player-board {
	width: 25%;
	float:left;
}
h1 {
	font-size: 3em;
	text-align: center;
}
.score-board, .time-board{
	font-size: 2em;
	text-align:center;
}

button:focus {outline:0;}
button {
	width: 100px;
	height: 100px;
	background-color: #ff3399;
	border-radius: 50%;
	border: none;
	color: white;
	font-size: 2em;
	position: relative;
	left: 40%;
}
button:hover { 
	background-color: #ff99cc;
	border: none;
}
.game-board {
	width: 75%;
	background-color: #00cc00;
	float: right;
}
.hidden {
	display: none;
	left: 20%;
	text-align: center;
}
.card-container div {
	display: inline-block;
	margin:0.5%;
	max-width:10%;
	max-height:10%;
	overflow: hidden;
	pointer-events: none;
}
img {
	width: 90px;
	height: 110px;
}
.result {
	font-size: 3em;
	color: red;
	animation: blinker 1s cubic-bezier(.1, 0, 0.5, 0.5) infinite alternate;  
}
@keyframes blinker { to { opacity: 0; } }