<h4>Scope and Direct Query from PostgreSQL</h4>
    <h4>Selective Validation</h4>
	    <p><strong>Delegte</strong></p>
    	<p><strong>validates on: </strong></p>
    	<p><strong>Lamda</strong></p>
    	<p><strong>relationships and alias</strong></p>
    	<p><strong>Polimophism (as: )</strong></p>

    <h4>Small but handy tricks</h4>
	    <p>self.lookup</p>
	    <p>read_attribute(:url).try(:downcase)</p>
	    <p>Spec - Trust me. Something is wrong here</p>



	    